/* gregorygundersen.com
 * 2020-02-16
 */

 body {
	color: rgba(0, 0, 0, 0.8);
	font-family: -apple-system, BlinkMacSystemFont, 'Lucida Bright', "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
	font-size: 1.06rem;
	margin: 7px;
	padding: 0;
}
a {
	color: rgba(0, 0, 0, 0.8);
}
a:hover {
	color: rgba(0, 0, 0, 0.8);
	text-decoration: none;
}
h1 {
	font-size: 24px;
}
#landing {
	max-width: 700px;
	margin: 119px auto;
}
#landing ul#links {
	list-style-type: none;
	padding-left: 0;
	margin: 0 0 20px 0;
}
#landing ul#links li {
	font-family: -apple-system, BlinkMacSystemFont, 'Lucida Bright',  "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
	margin-right: 25px;
	padding-bottom: 7px;
}
#landing ul#links li a:hover {
	text-decoration: none;
}
#landing ul#links li#contact {
	font-family: courier;
	margin: 0;
	padding-top: 5px;
}
#landing .section ul {
	padding-left: 15px;
}
.nav,
#papers {
	max-width: 700px;
	margin: 0 auto 100px auto;
}
#papers {
	margin-top: 83px;
	line-height: 1.5em;
}
#papers h1 {
	margin-top: 0;
	margin-bottom: 40px;
}
#papers .paper-row {
	margin-bottom: 30px;
}
#papers .paper-title,
#papers .paper-authors,
#papers .paper-venue,
#papers .paper-links {
	margin: 0;
}
#papers .pub-links {
	list-style-type: none;
	padding-left: 0;
	margin-top: 0;
}
#papers .pub-links li {
	display: inline;
	padding-right: 10px;
}
.nav {
	margin-top: 15px;
	margin-bottom: 15px;
	line-height: 24px;  /* Matches blog nav line-height. */
}
.nav a {
	color: rgba(0, 0, 0, 0.6);
	text-decoration: none;
	border-bottom: none;
	font-size: 12px;
}
.nav a:hover {
  	font-weight: bold;
}
.nav ul {
	list-style-type: none;
	padding: 0;
}
.nav ul li {
	display: inline;
	margin-right: 10px;
	line-height: 1.5em;
}

@media screen and (max-width: 700px) {
	body {
	  margin: 0 7px;
	  padding-left: 50px;
	}
}
  